# Node modules
node_modules/

# Playwright files
blob-report/
test-results/
playwright-report/
playwright/.cache/
playwright/.videos/
playwright/.screenshots/

# Coverage directory used by tools like istanbul
coverage/

# Logs
logs/
*.log
npm-debug.log*

# Operating system files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?